@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap");
/*******Info Start************/
.info {
  background-image: url("../login-assets/sign-in-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  padding-top: 2rem;
  padding: 50px 0 150px 0;
}
.info .info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.info .info-container .app-logo {
  margin-bottom: 35px;
}
.info .info-container .info-header {
  margin-bottom: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 35px;
  font-family: "Merriweather", serif;
}
.info .info-container form {
  width: 38em;
  display: grid;
  justify-content: center;
  grid-template-columns: 9em 9em 9em 11em;
  grid-template-rows: 3em 3em 3em 1.5em 1em;
  row-gap: 2em;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-areas: "input-1 input-1 input-1 input-1" "input-2 input-2 input-2 input-2" "month   day     year     year  " "male    female empty    empty" "info    info    info    info   ";
}
.info .info-container form .fname {
  grid-area: input-1;
  margin-bottom: 1.5em;
  width: 38em;
  height: 3em;
  border-radius: 14px;
  background-color: transparent;
  border: 0.7px solid white;
  padding-left: 2em;
  justify-content: center;
  justify-items: center;
  font-size: 1em;
}
.info .info-container form .fname::-moz-placeholder {
  color: #fff;
}
.info .info-container form .fname::placeholder {
  color: #fff;
}
.info .info-container form .radio-male {
  grid-area: male;
  justify-self: flex-start;
}
.info .info-container form .radio-male label {
  font-size: 1.3em;
  font-weight: 500;
}
.info .info-container form .radio-female {
  grid-area: female;
  justify-self: flex-start;
}
.info .info-container form .radio-female label {
  font-size: 1.3em;
  font-weight: 500;
}
.info .info-container form .date {
  color: #FFE1E1;
}
.info .info-container form .month {
  grid-area: month;
  width: 7em;
  background-color: transparent;
  border-radius: 14px;
  font-size: 1.3em;
  border: 0.7px solid white;
}
.info .info-container form .month option {
  padding-left: 1.7em;
  padding-right: 2em;
  text-align: center;
  color: #000;
}
.info .info-container form .month option:focus {
  color: #FFE1E1;
}
.info .info-container form .day {
  grid-area: day;
  width: 7em;
  background-color: transparent;
  border-radius: 14px;
  font-size: 1.3em;
  border: 0.7px solid white;
}
.info .info-container form .day option {
  padding-left: 1.7em;
  text-align: center;
  color: #000;
}
.info .info-container form .year {
  grid-area: year;
  width: 7em;
  background-color: transparent;
  border-radius: 14px;
  font-size: 1.3em;
  border: 0.7px solid white;
}
.info .info-container form .year option {
  padding-left: 1.7em;
  text-align: center;
  color: #000;
}
.info .info-container form .lname {
  grid-area: input-2;
  margin-bottom: 1.5em;
  width: 38em;
  height: 3em;
  border-radius: 14px;
  background-color: transparent;
  border: 0.7px solid white;
  padding-left: 2em;
  justify-content: center;
  justify-items: center;
  font-size: 1em;
}
.info .info-container form .lname::-moz-placeholder {
  color: #fff;
}
.info .info-container form .lname::placeholder {
  color: #fff;
}
.info .info-container form .radio {
  color: #FFE1E1;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info .info-container form .radio input {
  width: 23px;
  height: 23px;
  margin-left: 14px;
}
.info .info-container .info-link {
  grid-area: info;
  width: 100%;
  height: 2.9em;
  justify-self: center;
  cursor: pointer;
}
.info .info-container .info-link .info-btn {
  background-color: #1480EC;
  padding: 14px 33px;
  border-radius: 14px;
  border: none;
  font-size: 1.3em;
  color: #fff;
  width: 13%;
}

@media screen and (max-width: 480px) {
  .info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .info-header {
    margin-top: 4.5em;
  }
  .hidden {
    font-family: "Pacifico", cursive;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  form {
    width: 20em;
    display: grid;
    justify-content: center;
    grid-template-columns: 7em 7em 4em 2em;
    grid-template-rows: 3em 3em 3em 1.5em 1em;
    row-gap: 2em;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-areas: "input-1 input-1 input-1 input-1" "input-2 input-2 input-2 input-2" "month   day     year     year  " "male    male   female    female" "info    info    info     info  ";
  }
  form .fname {
    grid-area: input-1;
    justify-self: center;
    width: 19em;
  }
  form .lname {
    grid-area: input-2;
    justify-self: center;
    width: 19em;
  }
  form .month {
    grid-area: month;
    width: 5em;
    justify-self: center;
    margin-left: 2em;
  }
  form .month option {
    padding-left: 1.7em;
    text-align: center;
    color: #000;
  }
  form .day {
    grid-area: day;
    width: 3em;
    justify-self: center;
    margin-left: 30px;
  }
  form .day option {
    padding-left: 1.7em;
    text-align: center;
    color: #000;
  }
  form .year {
    grid-area: year;
    width: 5em;
    justify-self: center;
  }
  form .year option {
    padding-left: 1.7em;
    text-align: center;
    color: #000;
  }
  form .radio-male {
    grid-area: male;
    justify-self: center;
  }
  form .radio-male label {
    font-size: 1.3em;
    font-weight: 500;
  }
  form .radio-female {
    grid-area: female;
    justify-self: left;
  }
  form .radio-female label {
    font-size: 1.3em;
    font-weight: 500;
  }
  form .info-btn {
    grid-area: info;
    justify-self: center;
  }
}
/*******Info End************//*# sourceMappingURL=Info.css.map */