@import '../varMixins';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap');




/*******Info Start************/
.info{
    background-image: url("../login-assets/sign-in-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    text-align: center;
    height:100vh;
    padding-top:2rem;
    padding: 50px 0  150px 0;

    .info-container{
        display:flex;
        align-items: center;
        flex-direction: column;
        margin:0 auto;

        .app-logo{
            margin-bottom: 35px;
        }

        .info-header{
            margin-bottom: 40px;
            color: $white;
            font-weight: 400;
            font-size: 35px;
            font-family: 'Merriweather', serif;
        }

        form{
            width:38em;
            display:grid;
            justify-content: center;
            grid-template-columns: 9em 9em 9em 11em;
            grid-template-rows:3em 3em 3em 1.5em 1em;
            row-gap:2em;
            column-gap:20px;
            grid-template-areas: 
            "input-1 input-1 input-1 input-1"
            "input-2 input-2 input-2 input-2"
            "month   day     year     year  "
            "male    female empty    empty"
            "info    info    info    info   ";
          .fname{
            grid-area:input-1;
            margin-bottom:1.5em;
            width:38em;
            height:3em;
            border-radius:$borderradius;
            background-color: transparent;
            border:.7px solid white;
            padding-left:2em;
            justify-content: center;
            justify-items:center;
            font-size:1em;
            &::placeholder{
              color:#fff;
            }
          }
          .radio-male{
            grid-area:male;
            justify-self:flex-start;
            label{
              font-size:$btnsize;
              font-weight:500;
            }
          }
          .radio-female{
            grid-area:female;
            justify-self:flex-start;
            label{
              font-size:$btnsize;
              font-weight:500;
            }
          }
          .date{
            color: $white1;
          }
          .month{
            grid-area:month;
            width:$inputwidth;
            background-color: $inputbg;
            border-radius:$borderradius;
            font-size:$btnsize;
            border:.7px solid white;
            option{
              padding-left:1.7em;
              padding-right: 2em;
              text-align: center;
              color:#000;

              &:focus{
                color: $white1;
              }
            }
          }
          .day{
            grid-area:day;
            width:$inputwidth;
            background-color: $inputbg;
            border-radius:$borderradius;
            font-size:$btnsize;
            border:.7px solid white;
            option{
              padding-left:1.7em;
              text-align: center;
              color:#000;
            }
          }
          .year{
            grid-area:year;
            width:$inputwidth;
            background-color: $inputbg;
            border-radius:$borderradius;
            font-size:$btnsize;
            border:.7px solid white;
            option{
              padding-left:1.7em;
              text-align: center;
              color:#000;
            }
          }
          .lname{
            grid-area:input-2;
            margin-bottom:1.5em;
            width:38em;
            height:3em;
            border-radius:$borderradius;
            background-color: transparent;
            border:.7px solid white;
            padding-left:2em;
            justify-content: center;
            justify-items:center;
            font-size:1em;
            &::placeholder{
              color:#fff;
            }
          }
    
          .radio{
            color: $white1;
            display: flex;
            @include flex-center;
            input{
                width: 23px;
                height: 23px;
                margin-left: 14px;
            }
          }
         
          
        }

        .info-link{
            grid-area:info;
            width:100%;
            height:2.9em;
            justify-self: center;
            cursor:pointer;
            .info-btn{
                background-color: #1480EC;
                padding: 14px 33px;
                border-radius:$borderradius;
                border:none;
                font-size:$btnsize;
                color:$white;
                width: 13%;
                
            }
      }
    }

   
  }
  
  
 
  @media screen and (max-width:480px){
    .info-container{
      display:flex;
      align-items: center;
      flex-direction: column;
      margin:0 auto;
    }
    .info-header{
      margin-top:4.5em;
    }
    .hidden{
      font-family: 'Pacifico', cursive;
      display:block;
      text-align: center;
      margin:0 auto;
    }
    form{
      width:$gridwidth;
      display:grid;
      justify-content: center;
      grid-template-columns: 7em 7em 4em 2em;
      grid-template-rows:3em 3em 3em 1.5em 1em;
      row-gap:2em;
      column-gap:20px;
      grid-template-areas: 
      "input-1 input-1 input-1 input-1"
      "input-2 input-2 input-2 input-2"
      "month   day     year     year  "
      "male    male   female    female"
      "info    info    info     info  ";
      .fname{
        grid-area: input-1;
        justify-self: center;
        width:19em;
      }
      .lname{
        grid-area: input-2;
        justify-self: center;
        width:19em;
      }
      .month{
        grid-area:month;
        width:$inputscreenwidth;
        justify-self:center;
        margin-left:2em;
        option{
        padding-left:1.7em;
        text-align: center;
        color:#000;
        }
      }    
      .day{
        grid-area: day;
        width:3em;
        justify-self: center;
        margin-left:30px;
        option{
        padding-left:1.7em;
        text-align: center;
        color:#000;
        }
      
      }
      .year{
        grid-area: year;
        width:$inputscreenwidth;
        justify-self:center;
        option{
        padding-left:1.7em;
        text-align: center;
        color:#000;
        }
      }
      .radio-male{
        grid-area:male;
        justify-self:center;
        label{
        font-size:$btnsize;
        font-weight:500;
        }
      }
      .radio-female{
        grid-area:female;
        justify-self: left;
        label{
        font-size:$btnsize;
        font-weight:500;
        }
      }
      .info-btn{
        grid-area:info;
        justify-self: center;
      }
    }
  
  }
  /*******Info End************/