@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap");
/*******Log In Page Start************/
.sign-in {
  background-image: url("../login-assets/sign-in-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 150px 0;
}
.sign-in .form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}
.sign-in .form-container .app-logo {
  margin-bottom: 30px;
}
.sign-in .form-container .login-header {
  margin-bottom: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 35px;
  font-family: "Merriweather", serif;
}
.sign-in .form-container form {
  width: 38em;
  display: grid;
  grid-template-columns: 20em 15em 4em;
  grid-template-rows: 3em 3em 1em 3.5em 1em;
  row-gap: 2em;
  grid-template-areas: "input-1 input-1 input-1" "input-2 input-2 input-2" "forgot  forgot  forgot" "sign-in sign-in sign-in" "sign-up sign-up sign-up";
}
.sign-in .form-container form .input {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 20px 10px 20px 20px;
}
.sign-in .form-container form .input::-moz-placeholder {
  color: #FFE1E1;
  font-size: 17px;
}
.sign-in .form-container form .input::placeholder {
  color: #FFE1E1;
  font-size: 17px;
}
.sign-in .form-container form .mail {
  grid-area: input-1;
}
.sign-in .form-container form .pass {
  grid-area: input-2;
}
.sign-in .form-container form .forgot-btn {
  background-color: transparent;
  color: #4361AF;
  border: none;
  font-size: 16px;
  grid-area: forgot;
  justify-self: flex-end;
  margin-left: -120px;
  margin-top: -40px;
}
.sign-in .form-container form a {
  grid-area: sign-in;
  width: 100%;
  height: 2.9em;
  justify-self: center;
  cursor: pointer;
  text-decoration: none;
}
.sign-in .form-container form a .sign-in-btn {
  background-color: #1480EC;
  padding: 14px 33px;
  border-radius: 14px;
  border: none;
  font-size: 1.3em;
  color: #fff;
  width: 25%;
}
.sign-in .form-container .sign-up {
  margin-top: 0;
  grid-area: sign-up;
  font-size: 19px;
  word-spacing: 2px;
  color: #fff;
  font-weight: 400;
}
.sign-in .form-container .sign-up .decor {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  margin-left: 10px;
}

@media screen and (max-width: 425px) {
  .login-header {
    margin-top: 5em;
  }
  .hidden {
    font-family: "Pacifico", cursive;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .form-container form {
    margin-top: 1em;
    width: 20em;
    justify-content: center;
    display: grid;
    grid-template-columns: 8em 8em 4em;
    grid-template-rows: 2.5em 2.5em 1em 3.5em 1em;
    row-gap: 2em;
    grid-template-areas: "input-1 input-1 input-1" "input-2 input-2 input-2" "forgot  forgot  forgot" "sign-in sign-in sign-in" "sign-up sign-up sign-up";
  }
  .form-container input {
    width: 20em;
    height: 2.5em;
  }
  .form-container .email {
    grid-area: input-1;
    justify-self: center;
    margin-left: 120px;
  }
  .form-container .pass {
    grid-area: input-2;
    justify-self: center;
  }
  .form-container .forgot-btn {
    grid-area: forgot;
    justify-content: center;
    border: 1px solid red;
  }
  .form-container .sign-in-btn {
    grid-area: sign-in;
  }
  .form-container .sign-up {
    grid-area: sign-up;
    font-size: 0.7em;
  }
}
/*******Log In Page End************//*# sourceMappingURL=SignIn.css.map */